@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  /* Light Mode Color  */
  --first-text-color: blue;
  --second-text-color: black;
  --third-text-color: #4a4e69;
  --icon-background-color: white;
  --primary-color: #ebebeb;
}
.dark-mode {
  /* Dark Mode Color  */
  --first-text-color: rgb(47, 162, 124);
  --second-text-color: white;
  --third-text-color: #737b9f;
  --icon-background-color: white;
  --primary-color: #2a2b2c;
}

body {
  height: 100vh;
  background: var(--primary-color);
  overflow: auto;
}
.header {
  height: 10%;
  width: 100%;
  border-bottom: 2px dotted var(--third-text-color);
}
.nav-bar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 90px;
}
.logo p {
  font-size: 1.5rem;
  color: var(--first-text-color);
  cursor: pointer;
}
.logo span {
  color: var(--second-text-color);
}
.toggle-btn i {
  font-size: 2rem;
  color: var(--third-text-color);
}

.container {
  height: 90%;
  width: 100%;
}
.title {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title p {
  font-size: 2rem;
  margin-top: 20px;
  color: var(--third-text-color);
}
.search-box {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.search-box input {
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid var(--first-text-color);
  border-right: 0px;
  border-radius: 20px;
  padding-left: 30px;
  font-size: 1rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.2s all ease;
}
.search-box i {
  height: 50px;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: var(--icon-background-color);
  color: var(--third-text-color);
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--first-text-color);
  border-left: 0px;
}
.main-section {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.sub-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather-info1 img {
  width: 180px;
  height: 170px;
}
.weather-info1{
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.info1 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.info1 h2,
h3 {
  font-weight: 600;
  color: var(--second-text-color);
}
.info1 img {
  filter: opacity(0.5) drop-shadow(0 0 0 var(--first-text-color));
}
.info2 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.info h2,
h3 {
  font-weight: 600;
  color: var(--second-text-color);
}
.info2 img {
  filter: opacity(0.5) drop-shadow(0 0 0 var(--first-text-color));
}
.weather-info1 h1,
h2 {
  font-weight: 600;
  color: var(--second-text-color);
}

/* Responsive Design  */
@media (max-width: 650px) {
  .sub-section {
    flex-direction: column;
    margin: 20px;
  }
  .search-box input {
    width: 60%;
  }
  .search-box i {
    width: 20%;
  }
  .nav-bar {
    padding-left: 10px;
    padding-right: 10px;
  }
}
